extends layout

block content
  div#main
    p
        a(href="/")= "Home"
    p
        a(href="/userlist")= "Search History"
    p 
        a(href="/about")= "About"
        br
        br
    h1= title
    br
    p Region                   = #{name}
    p Country 	               = #{country}
    p Type                     = #{type}
    p Time Zone                = #{tz}
    br
    p Physical Location:
    p Latitude 	= #{lat}
    p Longitude = #{lon}
    