extends layout

block content
  h1="KNOW YOUR COMMUNITY"
  br
  h2 
      a(href="/")= "Home"
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href="/userlist")= "History"
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href="/about")= "About"
  br
  p Welcome to #{title}
  br
  h2 Created by:
  a(href='http://www-scf.usc.edu/~shantanb/', target='_blank') Shantanu Bal, 
  a(href='http://www.plawanrath.me', target='_blank') Plawan Kumar Rath, & 
  a(href='http://www.christopherturner.io', target='_blank') Christopher Turner
