extends layout

block content
    h1.
        PROPERTY SEARCH HISTORY
    br
    p 
        a(href="/")= "Home"
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href="/userlist")= "History"
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href="/about")= "About"
    
    br
    table(border=2, margin=10)
        tr
            th= "COMMUNITY"
            th= "STATE"
        each user, i in userlist
            tr
                td= user.city
                td= user.state
